/* Coolors Exported Palette - https://coolors.co/191970-8be8cb-1b98e0-646165-ccbcbc */

/* CSS HEX */
--midnight-blue: #191970ff;
--magic-mint: #8be8cbff;
--carolina-blue: #1b98e0ff;
--granite-gray: #646165ff;
--black-shadows: #ccbcbcff;

/* CSS HSL */
--midnight-blue: hsla(240, 64%, 27%, 1);
--magic-mint: hsla(161, 67%, 73%, 1);
--carolina-blue: hsla(202, 78%, 49%, 1);
--granite-gray: hsla(285, 2%, 39%, 1);
--black-shadows: hsla(0, 14%, 77%, 1);

/* SCSS HEX */
$midnight-blue: #191970ff;
$magic-mint: #8be8cbff;
$carolina-blue: #1b98e0ff;
$granite-gray: #646165ff;
$black-shadows: #ccbcbcff;

/* SCSS HSL */
$midnight-blue: hsla(240, 64%, 27%, 1);
$magic-mint: hsla(161, 67%, 73%, 1);
$carolina-blue: hsla(202, 78%, 49%, 1);
$granite-gray: hsla(285, 2%, 39%, 1);
$black-shadows: hsla(0, 14%, 77%, 1);

/* SCSS RGB */
$midnight-blue: rgba(25, 25, 112, 1);
$magic-mint: rgba(139, 232, 203, 1);
$carolina-blue: rgba(27, 152, 224, 1);
$granite-gray: rgba(100, 97, 101, 1);
$black-shadows: rgba(204, 188, 188, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #191970ff, #8be8cbff, #1b98e0ff, #646165ff, #ccbcbcff);
$gradient-right: linear-gradient(90deg, #191970ff, #8be8cbff, #1b98e0ff, #646165ff, #ccbcbcff);
$gradient-bottom: linear-gradient(180deg, #191970ff, #8be8cbff, #1b98e0ff, #646165ff, #ccbcbcff);
$gradient-left: linear-gradient(270deg, #191970ff, #8be8cbff, #1b98e0ff, #646165ff, #ccbcbcff);
$gradient-top-right: linear-gradient(45deg, #191970ff, #8be8cbff, #1b98e0ff, #646165ff, #ccbcbcff);
$gradient-bottom-right: linear-gradient(135deg, #191970ff, #8be8cbff, #1b98e0ff, #646165ff, #ccbcbcff);
$gradient-top-left: linear-gradient(225deg, #191970ff, #8be8cbff, #1b98e0ff, #646165ff, #ccbcbcff);
$gradient-bottom-left: linear-gradient(315deg, #191970ff, #8be8cbff, #1b98e0ff, #646165ff, #ccbcbcff);
$gradient-radial: radial-gradient(#191970ff, #8be8cbff, #1b98e0ff, #646165ff, #ccbcbcff);