/* CSS HEX
--smoky-black: #121212ff;
--baby-powder: #fdfffcff;
--electric-blue: #83eeffff;
--teal-blue: #077187ff;
--liberty: #53599aff;
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

html,
body {
    height: 100vh;
    width: 100vw;
    font-family: Poppins, sans-serif;
    overflow-x: hidden;
}

body {
    background-color: #121212;
    color: #fdfffcff;
}

header {
    height: fit-content;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* --------------- hamburger icon (start)--------------- */
div#menu {
    /* outline:1px solid purple; */
    z-index: 1;
    height: 50px;
    width: 100%;
    background-color: #12121200;
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: center;
    transition: all .5s ease-in-out;
}

.menu-burger {
    height: 3px;
    width: 50px;
    border-radius: 10px;
    background-color: #83eeffff;
    transition: all .5s ease-in-out;
}

.menu-burger::after {
    content: '';
    position: absolute;
    right: 0;
    height: 3px;
    width: 25px;
    border-radius: 10px;
    background-color: #83eeffff;
    transition: all .5s ease-in-out;
}

.menu-burger::after {
    transform: translateY(15px);
}

div#menu.open {
    background-color:#121212f0;
}

div.open .menu-burger {
    transform: rotate(45deg);
}

div.open .menu-burger::after {
    transform: rotate(-90deg) translate(-2.125px, -2.125px);
    width: 50px;
}

/* --------------- hamburger icon (end)--------------- */

/* ---------------navigation animation (start)--------------- */
nav {
    /* outline: 1px solid red; */
    z-index: 1;
    position: fixed;
    width: 100%;
    padding: 10px 0px;
    transform: translate(0px, 50px);
    background-color: #12121200;
    opacity: 0;
    visibility: hidden;
    transition: all .6s ease-in-out;
}

nav ul {
    /* outline: 1px solid yellow; */
    width: 100%;
    list-style: none;
    flex-direction: column;
}

nav ul li {
    /* outline: 1px solid green; */
    width: 100%;
    opacity: 0;
    transform: translate(75px, 0);
    transition: all .6s ease-in-out;
}

nav ul li:nth-child(1) {
    transition-delay:.1s;
}

nav ul li:nth-child(2) {
    transition-delay:.2s;
}

nav ul li:nth-child(3) {
    transition-delay:.3s;
}

nav ul li:nth-child(4) {
    transition-delay:.4s;
}

nav ul li:nth-child(5) {
    transition-delay:.5s;
}

nav ul li a {
    display:block;
    /* outline: 1px solid blue; */
    width: 100%;
    padding: 0px 50px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fdfffcff;
    height: 100%;
    width: 100%;
    font-size: 20pt;
    font-weight: 300;
}

nav ul li:first-child a {
    color: #83EEFF;
}

nav ul li a:hover {
    color: #077187ff;
}

nav.active {
    background-color:#121212f0;
    opacity: 1;
    visibility: visible;
}

nav.active ul li {
    opacity: 1;
    transform: translate(0px, 0px);
}

/* ---------------navigation animation (end)--------------- */

section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::nth-child(1) {
    height: calc(100vh - 50px);
}

#landing{
    transform: translate(0px, -75px);
    width: 80%;
}

#landing > h1, #landing > p, #landing > button {
    margin: 10px 0px;
    transition: all 1s ease-in-out;
}

h1 {
    font-size: 50px;
}

p {
    color: #fdfffcff;
    font-size: 15px;
    font-weight: 200;
    text-align: justify;
}

#landing button {
    background: none;
    border: none;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    background-color: #83EEFF;
    color:#121212;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
}

/* ---------------section 1 animation (start)--------------- */
#landing.out > h1, #landing.out > button {
    transform: translate(75px, 0px);
    opacity: 0;
}

#landing.out > p {
    transform: translate(-75px, 0px);
    opacity: 0;
}

/* ---------------section 1 animation (end)--------------- */

/* =============== section 2 start =============== */

section#picture {
    display: flex;
}

section#picture div {
    margin: 0px 10vw;
}





/* ---------------section 2 animation (start)--------------- */




/* ---------------section 2 animation (end)--------------- */

/* =============== section 3 start =============== */
/* ---------------section animation ()--------------- */


/* =============== section 4 start =============== */

section#contacts ul {
    list-style: none;
}

#contacts li {
    font-weight: 400;
}



/* ---------------section animation (start)--------------- */
/* ---------------section animation (end)--------------- */

/* =============== section 5 start =============== */
section#resume {
    display: inline-flex;
}

section#resume div {
    width: 200px;
}

section#resume button {
    height: 50px;
    width: 100%;
    font-size: 20pt;
    border: none;
    border-radius: 5px;
    background-color: #83EEFF;
}

/* ---------------section animation (start)--------------- */
/* ---------------section animation (end)--------------- */