header {
    flex-direction: row;
    justify-content: end;
    margin-right: 0;
}
#menu {
    all: unset;
    display: none;
}

#menu div {
    all: unset;
    display: none;
}

nav {
    all: unset;
    z-index: 2;
    height: 100%;
}

nav ul {
    all: unset;
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav ul li {
    margin: 0px 10px;
    opacity: 1;
    transform: translate(0px, 0px);
}

nav ul li a {
    font-size: 20px;
    padding: 0px;
    white-space: nowrap;
}

h1 {
    font-size: 60px;
}

p {
    font-size: 20px;
}
#landing {
    width: 50%;
}

#landing button {
    font-size: 15px;
}

#landing button:hover {
    background-color: #077187ff;
    color:#fdfffcff;
}