/* CSS HEX
--smoky-black: #121212ff;
--baby-powder: #fdfffcff;
--electric-blue: #83eeffff;
--teal-blue: #077187ff;
--liberty: #53599aff;
*/

/* new
--smoky-black: #121212ff;
--baby-powder: #fdfffcff;
--maximum-blue-purple: #a09be7ff;
--mahogany: #c44900ff;
--russian-green: #6e9075ff;
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid red;
}

html,
body {
    height: 100vh;
    font-family: Poppins, sans-serif;
}

body {
    background-color: #121212;
    color: #fdfffcff;
}

header {
    height: 100px;
    display: flex;
    justify-content: end;
}

nav {
    margin-right: 20px;
}

nav ul {
    display: inline-flex;
    align-items: center;
    list-style: none;
}

nav ul li {
    padding: 10px;
    text-transform: uppercase;
}

nav ul li a {
    text-decoration: none;
    color: #fdfffcff;
    height: 100%;
    width: 100%;
    font-size: 20pt;
    font-weight: 300;
    transition: all 0.25s ease-in-out;
}

nav ul li:first-child a{
    color: 	#83EEFF;
}

nav ul li a:hover {
    color:#077187ff;
}

section:nth-child(1) {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

section:nth-child(1) div {
    position: absolute;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

section div#landing h1 {
    font-size: 30pt;
}

section div#landing p {
    font-size: 15pt;
    font-weight: 200;
    margin-top: 2vh;
}
section div#landing button {
    margin-top: 2vh;
    background: #53599aff;
    color: #fff;
    border: none;
    height: 50px;
    width: 200px;
    font-size: 15pt;
    font-weight: 300;
    border-radius: 10px;
}

section div#landing button:hover {
    background: #83eeffff;
    color: #077187ff;
}
