@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --font-heading: "Poppins", sans-serif;
  --font-body: "Inter", sans-serif;

  --color-bg-primary: #181818; /*main background*/
  --color-bg-secondary: #242424; /*cards, sections*/
  --color-bg-hover: #2c2c2c; /*hover state for buttons, cards*/
  --color-text-primary: #f5f5f5; /*main text*/
  --color-text-secondary: #ffd166; /*headings, highlights*/
  --color-text-muted: #cfcfcf; /*secondary text, small captions*/
  --color-accent-1: #ff6b35; /**/
  --color-accent-2: #ffa931; /**/
  --color-accent-3: #ffd166; /**/
  --color-border: #3a3a3a; /*Borders / Dividers*/
  --color-button-bg-primary: #ff6b35;
  --color-button-text-primary: #181818;
  --color-button-hover-primary: #ffa931;
  --color-button-bg-secondary: #ffd166;
  --color-button-text-secondary: #242424;
  --color-button-hover-secondary: #2c2c2c;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-bg-primary;
  }

  nav {
    @apply flex justify-around;
  }

  section {
    @apply h-screen flex flex-col justify-center items-center bg-bg-primary/60;
  }

  button {
    @apply bg-button-bg-secondary text-button-text-secondary hover:bg-button-hover-secondary hover:text-button-hover-primary rounded-2xl m-5 py-3 px-5 text-2xl;
  }

  h1 {
    @apply font-heading text-8xl;
  }

  h2 {
    @apply font-heading text-7xl;
  }

  h3 {
    @apply font-heading text-6xl;
  }

  h4 {
    @apply font-heading text-5xl;
  }

  h5 {
    @apply font-heading text-4xl;
  }

  h6 {
    @apply font-heading text-3xl;
  }

  p {
    @apply font-body text-2xl;
  }

  p > * {
    @apply font-body text-2xl;
  }

  .background-beams {
    @apply -z-10 fixed;
  }

  .navigation-wrapper {
    @apply z-10 fixed w-full backdrop-blur-xs backdrop-opacity-99;
  }
  .navigation-container {
    @apply py-5 px-10 flex justify-between;
  }

  .navigation-item {
    @apply mx-2 p-3 text-2xl rounded-md font-heading;
  }

  .navigation-item-active {
    @apply bg-button-bg-primary text-button-text-primary;
  }

  .navigation-item-inactive {
    @apply text-gray-300 hover:bg-white/5 hover:text-white;
  }

  .main-card {
    @apply text-text-primary h-fit w-fit p-20 m-100 rounded-4xl flex flex-col justify-center items-center space-y-10;
  }

  /* .card-container {
    @apply flex flex-col justify-center items-center;
  } */

  .card-item {
    @apply m-3 min-w-max flex flex-row items-center;
  }

  .card-item.button {
    @apply flex flex-row justify-center;
  }

  .card-item .pre-heading {
    @apply font-bold text-text-secondary;
  }

  .card-item a {
    @apply underline;
  }

  .profile-picture {
    @apply rounded-full h-60;
  }

  .carousel-wrapper {
    @apply overflow-hidden relative rounded-2xl;
  }

  .carousel-container {
    @apply flex transition-transform ease-out duration-500;
  }

  .carousel-content-container {
    @apply flex-shrink-0 w-full relative z-10;
  }

  .carousel-content-container button {
    @apply bg-button-bg-secondary text-button-text-secondary hover:bg-button-hover-secondary hover:text-button-hover-primary rounded-2xl pt-1 pb-1.5 pl-2 text-xs z-20;
  }

  .content-description-container {
    @apply absolute inset-0 flex flex-col p-5 items-center justify-center rounded-2xl bg-bg-secondary/60 my-[10%] mx-[15%] text-text-primary space-y-5;
  }

  .content-description-container p {
    @apply text-[1rem] text-justify;
  }

  .content-tools-container {
    @apply flex flex-row flex-wrap gap-y-2 space-x-2 justify-center;
  }

  .content-tool-item {
    @apply rounded-full bg-bg-secondary/80 pt-1 pb-2 pl-1 pr-4;
  }

  .carousel-button-container {
    @apply absolute inset-0 flex items-center justify-between;
    pointer-events: none;
  }

  .carousel-button-container button {
    pointer-events: auto; /* arrows still clickable */
  }

  .carousel-button {
    @apply bg-bg-secondary text-text-secondary opacity-80 hover:bg-bg-hover;
  }

  /* IconText */
  .icon-text > .icon {
    @apply inline align-middle ml-3 mr-2;
  }

  button.resume {
    @apply bg-button-bg-primary text-button-text-primary hover:bg-button-hover-primary;
  }
}

/* .navigation-wrapper {
    @apply relative bg-bg-secondary after:pointer-events-none after:absolute after:inset-x-0 after:bottom-0 after:h-px after:bg-white/10;
  }

  .navigation-container {
    @apply mx-auto max-w-7xl px-2 sm:px-6 lg:px-8;
  }

  .navigation-item-group {
    @apply flex h-16 items-center justify-between;
  }

  .navigation-item-container {
    @apply hidden sm:flex space-x-4;
  }

  .navigation-item-active {
    @apply bg-button-bg-primary text-button-text-primary hover:bg-button-hover-primary;
  }

  .navigation-item-inactive {
    @apply text-gray-300 hover:bg-white/5 hover:text-white;
  }

  .navigation-item {
    @apply rounded-md px-3 py-2 text-2xl font-medium;
  } */

/* :root {
  --color-bg: var(--surface-bg);
  --color-accent: #FFD166;
  --color-text-light: #F5F5F5;
  --color-text-dark: #181818;

  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Inter', sans-serif;
} */

/* html, body {
  background-color: var(--color-bg);
  color: var(--color-text-light);
  font-family: var(--font-body);
  scroll-behavior: smooth; 
  /* smooth scrolling for nav anchors
} */
